<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {{!-- TODO custom CSS with bootstrap --}}
		
		<title>Live Life to the Fullest! Fill out you Bucketlist</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="./assets/css/style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/bucketlist.js"></script>
	</head>
	<body>
		<div class="row">
			<div class = "col-12">
				<nav class="navbar navbar-dark bg-dark">
					<br>
					<a href="https://nukepowermaiden2025.github.io/Bootstrap-Portfolio/portfolio.html" target="_blank" class="navbar-brand text-light" > &larr; Porfolio</a>
					<br>
				</nav>
			</div>
		</div>
		{{{ body }}}

		<footer class="main-footer footer-copyright text-center py-3">
			<span>&copy; 2018 Kourtney Reynolds </span>
		</footer> 
	</body>
</html>
